.user-list {
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Consolas, arial;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 10%;
    text-align: center;
}

.list-item .user {
    background: #547397;
    color: #fff;
    margin: 0 2px;
    padding-top: 1rem;

}

.list-item .login {
    display: block;
    line-height: 2.5rem;
    margin-top: -4px;
    text-decoration: none !important;
    text-transform: capitalize;
}

.list-item img {
    vertical-align: bottom;
}

.link-to-github {
    font-size: .7rem;
    padding: .15rem 0;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    text-align: center;
}

.pagination label input {
    width: 6em;
    text-align: center;
    margin-left: 1em;
    border: 1px solid #547397;
    padding: .5rem;
}

.pagination label:first-child {
    margin-right: 2rem;
}

@media (max-width: 1280px) {
    .list-item {
        width: 20%;
    }
}
@media (max-width: 1024px) {
    .list-item {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .list-item {
        width: 33.3%;
    }
}

