.user .profile{
    display: flex;
    width: 100%;
}
.user .profile .avatar{
    text-align: center;
    width: 50%;
}
.user .profile .avatar img{
    vertical-align: bottom;
    border-radius: 50%;
    box-shadow: 0px 0px 32px #222222;
    width:460px;
    height: 460px;
}

.user .profile .details{
    font-size:1.5rem;
}

.user .profile .details > div{
    display: flex;
}
.user .profile .details .label{
    font-weight: bold;
    font-variant: all-small-caps;
    margin-right:1rem;
    min-width: 8em;
    text-align: right;
}
.user .profile .details > div span:nth-child(2){
}


